<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/header.ejs') %>

<body>  
    
    <%- include('../partials/head.ejs') %>
        
        <main>
            <form action="/crear-producto" method="POST" class="formulario">
                <div class="partes-formulario">
                    <label class="titulos-formulario">Nombre de usuario</label>
                <input type="text" name="nombre" class="para-escribir">
            </div>
            <div class="partes-formulario">
                <label class="titulos-formulario">Contraseña</label>
                <input type="password" name="contrasenia" class="para-escribir">
            </div>
            <button type="submit" class="boton"><a href="/">Ingresar</a></button></a>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>