<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/header.ejs') %>

<body>  
    
    <%- include('../partials/head.ejs') %>
        
    <main>

        <form action="/crear-producto" method="POST" class="login-form">

            <div class="login-sections">
                <label>Nombre de usuario
                <input type="text" name="nombre">
                </label>
            </div>

            <div class="login-sections">
                <label>Contraseña
                <input type="password" name="contrasenia">
                </label>
            </div>

            <div class="login-button">
                <button type="submit">
                    <a href="/">Ingresar</a></button></a>
            </div>

        </form>

    </main>

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>