<footer>
    <div class="footer-message">
        <div class="footer-icon">
            <i class="fas fa-credit-card"></i>
        </div>
        <p>Pagá con tarjeta o en efectivo</p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>

    <div class="footer-message">
        <div class="footer-icon">
            <i class="fas fa-gift"></i>
        </div>
        <p>Envío gratis desde $ 2.500</p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        
        <div class="footer-message">
        <div class="footer-icon">
            <i class="fas fa-user-shield"></i>
        </div>
        <p>Seguridad, de principio a fin</p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>
            
    </footer>
    <p class="footer-final">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>