<header>
        
    <title>Mercado Liebre</title>
    
    <div class="header-up">
        
        <div class="header-logo">
            <img src="img/logo-mercado-liebre.svg" alt="Aquí va una foto">
        </div>
        
        <div class="search-bar-complete">

            <input class="search-bar" type="text" placeholder="Buscar marcas, productos y más..." />

            <div>
                <i class="fa fa-search"></i>
            </div>
            
        </div>
        
        <div class="header-sentence">
            <p><i class="fas fa-hand-holding-usd">
            </i> Compra en cuotas y sin tarjeta de credito</p>
        </div>
        
    </div>
        
        <nav class="header-list">
            <ul class="ul-rigth">
                <li><a href="/ofertas"> ofertas</a></li>
                <li><a href="/tiendas-oficiales"> Tiendas Oficiales</a></li>
                <li><a href="/vender"> Vender</a></li>
                <li><a href="/ayuda"> Ayuda</a></li>
            </ul>
            
            <ul class="ul-left">
                <li><a href="/registrarse"> Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/ingresa"> Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/mis-compras"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
        
    </header>